<section class="about section section--brand">
  <div class="section__container container">
    <h1 class="text-rotate text-center section__title">{{ t.about.title }}</h1>
    <div class="sm-pdgh++">
      <p class="text-upperline mrgb++">{{ t.about.description }}</p>
    </div>
    <div class="box-title">
      <h2 class="text-center mrgv0">{{ t.brewers }}</h2>
    </div>
    <div class="mrgb++">
      <div class="grid grid--multiline">
        {% for brewer in site.data.brewers %}
          <div class="grid__item w-1/2 md-w-1/3 lg-w-1/4">
            <a href="{{ brewer.link }}" target="_blank">
              <img src="{{ brewer.image | prepend:site.baseurl }}" class="about__logo">
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="box-title">
      <h2 class="text-center mrgv0">{{ t.musicians }}</h2>
    </div>
    <div class="grid grid--multiline">
      {% for musician in site.data.musician %}
        <div class="grid__item w-1/2 md-w-1/3 lg-w-1/4">
          <a href="{{ musician.link }}" target="_blank">
            <img src="{{ musician.image | prepend:site.baseurl }}" class="about__logo">
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="box-title">
      <h2 class="text-center mrgv0">{{ t.sponsors }}</h2>
    </div>
    <div class="grid grid--multiline">
      {% for sponsor in site.data.sponsor %}
        <div class="grid__item w-1/2 md-w-1/3 lg-w-1/4">
          <a href="{{ sponsor.link }}" target="_blank">
            <img src="{{ sponsor.image | prepend:site.baseurl }}" class="about__logo">
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
