<div id="js-drawer" class="drawer">
  <div id="js-drawer-burger" class="drawer__burger" data-drawer="action"></div>

  <nav class="drawer__body">
    <sidebar class="drawer__sidebar">
      <img src="{{ "/assets/images/logo.png" | prepend:site.baseurl }}" class="drawer__logo">

      <div class="drawer__nav container">
        <ul class="list-stacked list-stacked--tiny">
          <li class="drawer__item">
            <a href="./index" class="drawer__link text-rotate text-uppercase">Le festival</a>
          </li>
          <li class="drawer__item">
            <a href="./brasseurs" class="drawer__link text-rotate text-uppercase">Brasseurs</a>
          </li>
          <li class="drawer__item">
            <a href="#" class="drawer__link text-rotate text-uppercase">Musiciens</a>
          </li>
        </ul>
      </div>
    </sidebar>
  </nav>

  <div id="js-drawer-overlay" class="drawer__overlay" data-drawer="action"></div>
</div>