<footer class="footer">
  <div class="container">
    <div class="footer__links mrgt">
      <img src="{{ "/assets/images/icons/dummy.png" | prepend:site.baseurl }}" class="footer__img">
      <a href="https://www.facebook.com/lausannemaltfestival/" target="_blank">
          <img src="{{ "/assets/images/icons/facebook.png" | prepend:site.baseurl }}" class="footer__img">
      </a>
      <a href="https://www.instagram.com/lausannemaltfestival/" target="_blank">
          <img src="{{ "/assets/images/icons/instagram.png" | prepend:site.baseurl }}" class="footer__img">
      </a>
      <a href="mailto:info@maltfestival.ch">
          <img src="{{ "/assets/images/icons/association.png" | prepend:site.baseurl }}" class="footer__img">
      </a>
      <img src="{{ "/assets/images/icons/dummy.png" | prepend:site.baseurl }}" class="footer__img">
      <a>
      <img src="{{ "/assets/images/icons/lmf_footer.png" | prepend:site.baseurl }}" class="footer__img">
      </a>
      <a>
          <img src="{{ "/assets/images/icons/dummy.png" | prepend:site.baseurl }}" class="footer__img">
      </a>
      <img src="{{ "/assets/images/icons/dummy.png" | prepend:site.baseurl }}" class="footer__img">
      {% for partner in site.data.partner %}
        {% if partner.main %}
          <a href="{{ partner.link }}" target="_blank">
            <img src="{{ partner.image | prepend:site.baseurl }}" class="about__logo">
          </a>
        {% endif %}
      {% endfor %}
      <img src="{{ "/assets/images/icons/dummy.png" | prepend:site.baseurl }}" class="footer__img">
    </div>
  </div>
</footer>
