<footer class="footer">
  <div class="container">
    <div class="footer__title text-center">
      <h1>Lausanne Malt Festival</h1>
      <a href="mailto:info@maltfestival.ch" class="footer__email">info@maltfestival.ch</a>
    </div>
    <div class="footer__links mrgt">
      <a href="https://www.facebook.com/lausannemaltfestival/" target="_blank"><img src="{{ "/assets/images/fb.svg" | prepend:site.baseurl }}" class="footer__img"></a>
      <img src="{{ "/assets/images/logo-small.svg" | prepend:site.baseurl }}" class="footer__img">
      <a href="https://www.instagram.com/lausannemaltfestival/" target="_blank"><img src="{{ "/assets/images/insta.svg" | prepend:site.baseurl }}" class="footer__img"></a>
    </div>
  </div>
</footer>