{% assign t = site.data.translations[page.lang] %}

<div class="container container--small container--tight">
  <h1 class="text-rotate text-center text-main">{{ t.musicians }}</h1>

  {% for musician in site.data.musician %}
    <div class="box box--default box--grid pdg0">
      <div class="box__left">
        <div class="box__img-container">
          {% if musician.image-box %}
            <img src="{{ musician.image-box | prepend:site.baseurl }}" class="box__img">
          {% else %}
            <img src="{{ '/assets/images/box--placeholder.png' | prepend:site.baseurl }}" class="box__img">
          {% endif %}
        </div>
        <div class="box__title">
          <h2 class="mrg0">{{ musician.name }}</h2>
          <p class="mrgb0">{{ musician.from }}</p>
        </div>
      </div>
      <div class="box__right pdg">
        <img src="{{ musician.image | prepend:site.baseurl }}" class="box__logo">
        <p class="text-center">{{ musician.content }}</p>
      </div>
    </div>
  {% endfor %}
</div>