/*----------------------------------------*\
  TEXT
\*----------------------------------------*/

.text-rotate {
  transform: skew(0deg, -18deg);
}

.text-main {
  position: relative;
  top: -50px;

  @include media('sm') {
    font-size: rem(80px);
  }
}

.text-upperline::before {
  content: '';
  display: block;
  max-width: 200px;
  height: 5px;
  margin-right: auto;
  margin-bottom: $spacing-unit-default;
  margin-left: auto;

  background-color: #000;
}