/**
 * COMPONENTS
 * Container
 */

.container {
  width: 100%;

  @include media('md') {
    padding-left: $container-md-gutter-width;
    padding-right: $container-md-gutter-width;
  }
  @include media('lg') {
    padding-left: $container-lg-gutter-width;
    padding-right: $container-lg-gutter-width;
  }
}

.container--main {
  margin-top: -180px;
}

.container--tight {
  padding-left: 0;
  padding-right: 0;
}

.container--tiny {
  max-width: $container-tiny-max-width;
}

.container--small {
  max-width: $container-small-max-width;
}
