/*----------------------------------------*\
  FOOTER
\*----------------------------------------*/

.footer {
  padding: $spacing-unit-huge 0;

  background-image: url('images/section-footer.svg');
  background-size: 298px 82.36px;
}

  .footer__title {
    padding: $spacing-unit-small;
    background-color: #fff;
  }

    .footer__email {
      color: #000;
      font-size: rem(28px);
    }

  .footer__links {
    display: flex;
    justify-content: space-between;

    img {
      height: 50px;
      width: 50px;

      @include media('md') {
        height: 100px;
        width: 100px;
      }
    }
  }